.elementor-28 .elementor-element.elementor-element-56c015a0 > .elementor-container {max-width: 700px;}
.elementor-28 .elementor-element.elementor-element-56c015a0 {margin-top: 0px;margin-bottom: 86px;padding: 50px 0px 40px 0px;}
.elementor-28 .elementor-element.elementor-element-260e4515 {text-align: center;}
.elementor-28 .elementor-element.elementor-element-260e4515.elementor-widget-heading .elementor-heading-title {color: #000;}
.elementor-28 .elementor-element.elementor-element-260e4515 .elementor-heading-title {font-size: 39px;font-weight: 600;text-transform: uppercase;letter-spacing: 12px;}
.elementor-28 .elementor-element.elementor-element-7535aa5a {text-align: center;}
.elementor-28 .elementor-element.elementor-element-7535aa5a.elementor-widget-heading .elementor-heading-title {color: #000;}
.elementor-28 .elementor-element.elementor-element-7535aa5a .elementor-heading-title {font-size: 20px;font-weight: 300;}
.elementor-28 .elementor-element.elementor-element-5ddd0fd8 iframe {height: 338px;pointer-events: none;}
.elementor-28 .elementor-element.elementor-element-5ddd0fd8 > .elementor-widget-container {padding: 0px 0px 0px 0px;border-style: solid;border-color: #000;}
@media (max-width:1024px) {.elementor-28 .elementor-element.elementor-element-56c015a0 {padding: 100px 25px 100px 25px;}
	.elementor-28 .elementor-element.elementor-element-5ddd0fd8 > .elementor-widget-container {padding: 15px 0px 0px 0px;}}
@media (max-width:767px) {.elementor-28 .elementor-element.elementor-element-56c015a0 {padding: 50px 20px 50px 20px;}
	.elementor-28 .elementor-element.elementor-element-7535aa5a .elementor-heading-title {font-size: 20px;}
	.elementor-28 .elementor-element.elementor-element-5ddd0fd8 > .elementor-widget-container {padding: 15px 0px 0px 0px;}}